hr-ats-1XYsPeLGIQQkOb4F.json
{"createdAt":"2025-09-13T16:33:02.735Z","updatedAt":"2025-09-14T05:50:41.000Z","id":"1XYsPeLGIQQkOb4F","name":"HR ATS","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1680,208],"id":"37bed82b-6523-4730-8da9-ec7ac857fc05","name":"Download file"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1824,-96],"id":"f512db67-aba6-4623-be06-3508420b3447","name":"Extract from File"},{"parameters":{"promptType":"define","text":"=Candidate's resume:\n{{ $('Standard').item.json.text }}","hasOutputParser":true,"options":{"systemMessage":"=You are the world's most accurate and efficient CV summarizer, known for producing concise and informative summaries that capture all essential details.\n\nYour task is to summarize a provided CV into three clear sections: EDUCATIONAL QUALIFICATIONS, JOB HISTORY, and SKILL SET and find candidate strong in odoo and database skills.\nIn addition, you MUST evaluate the candidate's suitability for a specified job role and assign a SCORE from 1 to 10 based on how well their qualifications match the role.\n\nIf candidate not have skill odoo \n\n\n**INSTRUCTIONS FOR EXTRACTION AND SUMMARIZATION:**\n1.  **EDUCATIONAL QUALIFICATIONS:** Summarize concisely. Include degree names, institutions, and graduation years. Format as a list of entries, e.g., \"[Degree], [Institution], [Year]\".\n2.  **JOB HISTORY:** Summarize concisely. List job titles, companies, and employment dates, with a brief overview of key responsibilities or achievements. Format as a list of entries, e.g., \"[Job Title], [Company], [Dates]: [Key responsibilities or achievements]\".\n3.  **SKILL SET:** Compile relevant technical, soft, and industry-specific skills. Format as a comma-separated list, e.g., \"[Skill 1], [Skill 2], [Skill 3]\".\n4.  If candidate not have skill odoo developer dont recomended\n\n\n**INSTRUCTIONS FOR CANDIDATE EVALUATION:**\n1.  **ANALYZE RELEVANCE:** Compare the candidate's education, work experience, and skill set with the provided job description.\n2.  **ASSIGN A SCORE (1-10):**\n    * 1-3: Weak match (lacks key qualifications or experience).\n    * 4-6: Moderate match (some relevant qualifications but gaps exist).\n    * 7-8: Strong match (meets most job criteria with relevant experience).\n    * 9-10: Excellent match (perfect fit, exceeding expectations).\n3.  **JUSTIFICATION:** Provide a brief explanation for the assigned score, highlighting key strengths or missing qualifications relevant to the job role, If candidate not have skill odoo developer dont recomended.\n4. **WORK EXPERIENCE:** Provide a brief explanation for work experience the assigned score, highlighting key strengths or missing qualifications relevant to the job role.\n5.  **NAME CANDIDATE:** Full name candidate\n6.  **EMAIL:** Full name candidate\n7.  **ADDRESS:** Full name candidate\n\n**OUTPUT FORMATTING (CRITICAL - MUST BE VALID JSON):**\nYou MUST output a single JSON object. The JSON keys MUST be exactly as follows:\n\"educationalQualifications\": (string, containing the summarized education)\n\"jobHistory\": (string, containing the summarized job history)\n\"skillSet\": (string, containing the summarized skill set)\n\"score\": (integer, the assigned score from 1 to 10)\n\"justification\": (string, the explanation for the score)\n\nDO NOT include personal information such as contact details or addresses.\nDO NOT omit relevant education, job, or skill information in the summaries.\nDO NOT include any text outside the JSON object.\n\njob descripsion:\n{{ $('Extract from File').item.json.text }}\n{{ $('Extract from File').item.json.text }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[2448,272],"id":"b15ab962-99f2-497f-9e1e-689beb2be15c","name":"AI Agent"},{"parameters":{"text":"={{ $('Standard').item.json.text }}","attributes":{"attributes":[{"name":"=Candidate Name","description":"Candidate Name","required":true},{"name":"=Email","description":"Email","required":true},{"name":"=Candidate Address","description":"Candidate Address","required":true},{"name":"=Skill ","description":"\"skillSet\": (string, containing the summarized skill set)","required":true},{"name":"=Job History","description":"\"jobHistory\": (string, containing the summarized job history)","required":true},{"name":"=Education","description":"\"educationalQualifications\": (string, containing the summarized education)","required":true},{"name":"=Justification","description":"**JUSTIFICATION:** Provide a brief explanation for the assigned score, highlighting key strengths or missing qualifications relevant to the job role, If candidate not have skill odoo developer dont recomended.","required":true},{"name":"Score","type":"number","description":"\"score\": (integer, the assigned score from 1 to 10)","required":true},{"name":"WORK EXPERIENCE","description":"**WORK EXPERIENCE:** Provide a brief explanation for work experience the assigned score, highlighting key strengths or missing qualifications relevant to the job role."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[2768,288],"id":"8f78fd37-c4a8-41cb-a47a-58456f9f037e","name":"Information Extractor"},{"parameters":{"assignments":{"assignments":[{"id":"86a4159d-921c-43a4-baed-6c10f505434c","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2048,-96],"id":"26113de2-8ec4-4e44-a68c-212c45dfef2d","name":"Standard"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Download file').item.json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2240,256],"id":"744cbc42-9a8c-495c-a394-4b4deeb39584","name":"Download file1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2672,624],"id":"72f06e70-f1fb-4528-acc6-c504e8cbd228","name":"Google Gemini Chat Model"},{"parameters":{"schemaType":"manual","inputSchema":"={\n  \"educationalQualifications\": \"Bachelor of Science in Computer Science, Institut Sains Teknologi Nasional, 2014\",\n  \"jobHistory\": \"Odoo Developer, PT Tekno Gemilang Indonesia, Mei 2025 - Present: Outsourcing for PT Erajaya Swasembada (POD Era Xpress project).\\nOdoo Developer, PT. Dragon Pack, Feb 2025 - Mei 2025: Developed Odoo 16 HRIS and GA.\\nOdoo Developer, PT. Juke Solusi Teknologi, Feb 2022 - Feb 2025: Customized Odoo addons, performed data integration, setup, and maintenance of Odoo servers.\\nOdoo Python Developer, PT. Hartex Global Industrial, Jan 2021 - Jan 2022: Created app.\",\n  \"jobHistoryParsed\": [\n    {\n      \"title\": \"Odoo Developer\",\n      \"company\": \"PT Tekno Gemilang Indonesia\",\n      \"period\": \"Mei 2025 - Present\",\n      \"description\": \"Outsourcing for PT Erajaya Swasembada (POD Era Xpress project).\"\n    },\n    {\n      \"title\": \"Odoo Developer\",\n      \"company\": \"PT. Dragon Pack\",\n      \"period\": \"Feb 2025 - Mei 2025\",\n      \"description\": \"Developed Odoo 16 HRIS and GA.\"\n    },\n    {\n      \"title\": \"Odoo Developer\",\n      \"company\": \"PT. Juke Solusi Teknologi\",\n      \"period\": \"Feb 2022 - Feb 2025\",\n      \"description\": \"Customized Odoo addons, performed data integration, setup, and maintenance of Odoo servers.\"\n    },\n    {\n      \"title\": \"Odoo Python Developer\",\n      \"company\": \"PT. Hartex Global Industrial\",\n      \"period\": \"Jan 2021 - Jan 2022\",\n      \"description\": \"Created app.\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2288,624],"id":"c81bf496-09c9-4b71-abc1-cda90ca9698e","name":"Structured Output Parser"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1pX1sprrhyMTBaDIsip1ctHRbyTGtHC69Prc0Jo0B_Jk/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Result","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pX1sprrhyMTBaDIsip1ctHRbyTGtHC69Prc0Jo0B_Jk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.output.Email }}","Date":"={{ $('Gmail Trigger').item.json.date }}","Resume":"={{ $('Gmail Trigger').item.json.from.html }}","First Name ":"={{ $json.output['Candidate Name'] }}","Education":"={{ $json.output.Education }}","Skill Sheet":"={{ $json.output['Skill '] }}","Address":"={{ $json.output['Candidate Address'] }}","Job History":"={{ $json.output['Job History'] }}","Justification":"={{ $json.output.Justification }}","Score Candidate":"={{ $json.output.Score }}","CV":"={{ $json.output['WORK EXPERIENCE'] }}","ID":"={{ $('Gmail Trigger').item.json.id }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Resume","displayName":"Resume","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"First Name ","displayName":"First Name ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Education","displayName":"Education","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Skill Sheet","displayName":"Skill Sheet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job History","displayName":"Job History","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Justification","displayName":"Justification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Score Candidate","displayName":"Score Candidate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CV","displayName":"CV","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Messaga_id","displayName":"Messaga_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3168,272],"id":"5bc3428e-303a-4fd7-bab6-ee51a69c0f8d","name":"Append or update row in sheet"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"readStatus":"unread"},"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-272,-16],"id":"1e3344a9-3e5e-47af-9209-a2712c915a95","name":"Gmail Trigger","notesInFlow":false},{"parameters":{"inputDataFieldName":"attachment_0","name":"={{ $json.subject }} Resume","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1w1qirhOodG01VEiyGUBNEXZc-iWqiAgP","mode":"list","cachedResultName":"IT","cachedResultUrl":"https://drive.google.com/drive/folders/1w1qirhOodG01VEiyGUBNEXZc-iWqiAgP"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1232,208],"id":"3e67db61-2029-4f61-a8ca-af6dc00228f1","name":"Upload file"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f7b6c412-1e11-47dd-a42b-6066fc18dffb","leftValue":"={{ $('Gmail Trigger').item.binary }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[144,-16],"id":"5511436d-8d53-468a-89f1-f2f7048826f4","name":"Filter2"},{"parameters":{"operation":"get","messageId":"={{ $('Gmail Trigger').item.json.id}}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,16],"id":"0ed0c0bb-a749-4285-bbe3-94f53cfba56b","name":"Get a message","webhookId":"f1906fc7-8ee9-4a6f-8d64-351f27d23fcf"},{"parameters":{"assignments":{"assignments":[{"id":"7be9a5e9-fbe8-4da6-a779-5dbb96a40418","name":"Attachment","value":"={{ $('Get a message').item.binary.keys() }}","type":"array"},{"id":"dac52a97-2e10-4f72-8ede-a51fda963b10","name":"Message_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,-80],"id":"1b64ab37-da73-4ce1-9397-525ffff95b5f","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"Attachment","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[880,-96],"id":"66cc895a-231a-46f4-b8ba-f787a2f312cf","name":"Split Out"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"Message_id","field2":"id"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1056,208],"id":"1d448cf4-3e72-4ac1-9a35-d665ab6fe4eb","name":"Merge"},{"parameters":{"sendTo":"candicate.it@edu-me5.odoo.com","subject":"={{ $('Gmail Trigger').item.json.subject }}","message":"={{ $('Gmail Trigger').item.json.html }}","options":{"appendAttribution":false,"attachmentsUi":{"attachmentsBinary":[{}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2464,32],"id":"ccb2db73-eea2-4b46-9a52-6ac8c06c3b41","name":"Send a message","webhookId":"25aa0d97-9e4a-4ad6-b6b4-95c99f914077"},{"parameters":{"sessionIdType":"customKey","sessionKey":"="},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2464,624],"id":"c5388e38-a345-4ca3-9af3-df406fa3bab0","name":"Simple Memory"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"483b9632-ef57-488e-b4a0-8e256fc32cb1","leftValue":"={{ $('Gmail Trigger').item.binary }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-64,-16],"id":"4bf4267b-53dd-4aa5-88c8-b123f0d43c97","name":"If"},{"parameters":{"operation":"markAsRead","messageId":"={{ $json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,448],"id":"47f2f78e-7c38-4cfe-9ba5-f6b0047fc886","name":"Mark a message as read","webhookId":"ee656d1f-d916-4f89-b6e0-91b4fef1390e"},{"parameters":{"sendTo":"candicate.it@edu-me5.odoo.com","subject":"={{ $('Filter2').item.json.headers.subject }}","message":"={{ $('Gmail Trigger').item.json.html }}","options":{"attachmentsUi":{"attachmentsBinary":[{}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1808,400],"id":"ffa6368d-38a9-4b8d-8480-9a8c2e97d50f","name":"Send a message1","webhookId":"ce165cbd-55ec-423d-9adc-383b29f6adc8"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pX1sprrhyMTBaDIsip1ctHRbyTGtHC69Prc0Jo0B_Jk","mode":"list","cachedResultName":"Log_email_HR_Transfer","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pX1sprrhyMTBaDIsip1ctHRbyTGtHC69Prc0Jo0B_Jk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2083550878,"mode":"list","cachedResultName":"Log_Email_to_Odoo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pX1sprrhyMTBaDIsip1ctHRbyTGtHC69Prc0Jo0B_Jk/edit#gid=2083550878"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.id }}","Email_from":"={{ $('Download file').item.json.owners[0].emailAddress }}","Date":"={{ $('Download file').item.json.createdTime }}","Subject":"={{ $('If').item.json.subject }}","Name":"={{ $('Upload file').item.json.permissions[0].displayName }}","Status":"={{ $json.labelIds[0] }}","Link":"={{ $('Download file').item.json.webViewLink }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email_from","displayName":"Email_from","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2016,400],"id":"a14bae03-d053-4969-ae91-4d64633c6a9b","name":"Append or update row in sheet1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1pX1sprrhyMTBaDIsip1ctHRbyTGtHC69Prc0Jo0B_Jk","mode":"list","cachedResultName":"Log_email_HR_Transfer","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pX1sprrhyMTBaDIsip1ctHRbyTGtHC69Prc0Jo0B_Jk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1199273615,"mode":"list","cachedResultName":"ID upload","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pX1sprrhyMTBaDIsip1ctHRbyTGtHC69Prc0Jo0B_Jk/edit#gid=1199273615"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.id }}","Status":"Uploded","Source ID":"={{ $('Gmail Trigger').item.json.id }}","Email Uploded":"={{ $('Gmail Trigger').item.json.date }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Source ID","displayName":"Source ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Uploded","displayName":"Email Uploded","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1440,352],"id":"8ccc1583-75b2-471c-99fb-c4021d1a7f31","name":"Append or update row in sheet2"}],"connections":{"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0},{"node":"Send a message1","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Standard","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Standard":{"main":[[{"node":"Download file1","type":"main","index":0}]]},"Download file1":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"Send a message","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0},{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Information Extractor":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Download file","type":"main","index":0},{"node":"Append or update row in sheet2","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"Get a message","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Get a message":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Merge","type":"main","index":1},{"node":"Mark a message as read","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"If":{"main":[[{"node":"Filter2","type":"main","index":0}],[{"node":"Mark a message as read","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"77968900-0445-4c8c-954f-56ed1288ad72","triggerCount":0,"shared":[{"createdAt":"2025-09-13T16:33:02.761Z","updatedAt":"2025-09-13T16:33:02.761Z","role":"workflow:owner","workflowId":"1XYsPeLGIQQkOb4F","projectId":"axz66e0ZQtulOdRH"}],"tags":[]}