my-workflow-test-RCTWJHIwhw9q3tby.json
{"createdAt":"2025-09-11T06:34:28.853Z","updatedAt":"2025-09-27T23:30:34.000Z","id":"RCTWJHIwhw9q3tby","name":"My workflow test","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"f3bd8247-f608-44c0-876b-3a246d0c8b12","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1NR9MBqJOY5Ot3lRt3ESLgNZ8c-BYMP276NDbBxutVtk","mode":"list","cachedResultName":"Get_Salary_Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NR9MBqJOY5Ot3lRt3ESLgNZ8c-BYMP276NDbBxutVtk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NR9MBqJOY5Ot3lRt3ESLgNZ8c-BYMP276NDbBxutVtk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[304,160],"id":"59e9bcd5-f613-4847-88ba-3d350b9cbb46","name":"get_salary_data"},{"parameters":{"documentId":{"__rl":true,"value":"1KNgBGKDXHXFNJrjuSol7p2fkCGYnWOrVBn_zT24jQP4","mode":"list","cachedResultName":"Stok Barang","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KNgBGKDXHXFNJrjuSol7p2fkCGYnWOrVBn_zT24jQP4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KNgBGKDXHXFNJrjuSol7p2fkCGYnWOrVBn_zT24jQP4/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[768,112],"id":"854bbb29-6ccf-4a5b-a835-a6b886594d35","name":"get_stock_data"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[192,48],"id":"457543a5-3290-47e9-bb44-c4921fb23be5","name":"Google Gemini Chat Model"},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=Kamu adalah Yasmin atau mimin chat bot CS, customer service AI dari Yasmin atau mimin  Store.\nGunakan bahasa Indonesia yang santai dan panggil customer dengan sapaan 'kak'{{ $json.message.chat.first_name }}.\nToko kami bernama Yasmin Store\nAlamat toko:\nJl. Tali 1 No 51\n\nSocial media:\nIG: https://instagram.com/Yasmintutorial\nYouTube: (Sertakan URL valid jika ada, atau hapus baris ini jika tidak ada channel YouTube yang valid)\n\nURL order produk:\nShopee: https://shopee.co.id/Yasminstore\nTokopedia: https://tokopedia.com/YasminStore\n\nKontak WA untuk order barang:\nWhatsApp: 08123456789\n\nTugasmu adalah:\n1. Sapa customer dengan \"Halo kak\" HANYA pada awal percakapan atau jika customer memulai topik baru/sapaan pembuka. Untuk balasan selanjutnya dalam satu alur percakapan, langsung berikan informasi tanpa sapaan pembuka lagi.\n2. Menjawab pertanyaan umum tentang toko Bang Store, alamat, social media, atau informasi kontak WhatsApp.\n3. Jika customer bertanya stok barang, maka jawab hanya seputar stok barangnya ready atau kosong.\n4. Jika customer menanyakan harga, berikan harga produknya (jika data harga tersedia, jika tidak, arahkan ke platform order).\n5. Jika pertanyaan tentang stok, gunakan \"get_stock_data\" tool untuk mengecek data stok di Google Sheets.\n6. Jika pertanyaan seputar order barang atau cara beli, arahkan ke URL order produk yang sudah disediakan, dan berikan juga info kontak WhatsApp.\n7. Berikan respon yang rapi dan mudah dibaca. Jangan gunakan format teks seperti bold atau italic, dan untuk link sertakan URL lengkapnya secara langsung (jangan gunakan format Markdown [teks](url)).\n8. Di akhir setiap balasan, tawarkan bantuan lain dengan kalimat yang bervariasi dan santai.\n9. Setiap ada pertanyaan seputar customer shopify, arahkan ke tool \"Shopify_customers\"\n\n\nCatatan untuk stok:\n1. Jika kamu menggunakan tool \"get_stock_data\", berikan hasil pengecekan stoknya ready atau kosong.\n2. Jika tidak menemukan barang yang ditanyakan di data stok, informasikan bahwa barang tidak ditemukan atau tanyakan apakah nama barangnya sudah benar.\n\nCatatan untuk salary:\n4. Jika kamu menggunakan tool \"get_salary_data\", berikan info masukan nomor token karyawan terlebih dahulu.\n5. Jika kamu menggunakan tool \"get_salary_data\", berikan hasil pengecekan data ready atau data kosong.\n6. Jika tidak menemukan data yang ditanyakan di data salary, informasikan bahwa data tidak ditemukan atau tanyakan apakah passwordnya sudah benar.\n\nCatatan untuk Shopify_customers:\n7. Jika kamu menggunakan tool \"Shopify_customers\", berikan info apa yang ingin ditanyakan tentang customer shopify\n\n8. Jika kamu menggunakan tool \"Shopify_customers\", berikan hasil pengecekan data ready atau data kosong.\n\n9. Jika tidak menemukan data yang ditanyakan di data \"Shopify_customers\", informasikan bahwa data tidak ditemukan dan mohon pertanyaannya lebih spesifik.\n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[336,-160],"id":"6bf20ee4-bd70-4fc5-a6d3-e6a23256d201","name":"AI Agent"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-112,-160],"id":"9bec148a-0ed5-4855-9ffa-34af6231bfa0","name":"Telegram Trigger","webhookId":"dc114bcb-4d66-4600-8c79-80c402843599","credentials":{"telegramApi":{"id":"B6F50IYxpW02QSot","name":"Telegram account test_bot"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[688,-160],"id":"7391fa5f-32e9-4fa1-9559-9df415b5a208","name":"Send a text message","webhookId":"ca37f2db-693a-48b7-8b08-125652ca64ce"},{"parameters":{"documentId":{"__rl":true,"value":"1iZkwETwuxgTlEm9cnV96XGLCP9RpPb00j3OlvenxwZ0","mode":"list","cachedResultName":"Shopify Custommer","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iZkwETwuxgTlEm9cnV96XGLCP9RpPb00j3OlvenxwZ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Custommer Baru","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iZkwETwuxgTlEm9cnV96XGLCP9RpPb00j3OlvenxwZ0/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[528,160],"id":"ac8cb23c-2a86-4139-b6c8-b5dae0a53700","name":"Shopify_customers"},{"parameters":{"additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[-64,48],"id":"7084cd90-4ca0-43bd-881e-32f5052e32d2","name":"Send a text message in Telegram","webhookId":"9922a245-7c66-4234-8859-bdd3a1e76186","credentials":{"telegramApi":{"id":"B6F50IYxpW02QSot","name":"Telegram account test_bot"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[208,-96],"id":"b6e3c098-e0eb-4efd-811f-8d91b4aa23be","name":"Telegram Trigger1","webhookId":"967640f6-3d9e-4b25-929c-f3fdd5839825","credentials":{"telegramApi":{"id":"B6F50IYxpW02QSot","name":"Telegram account test_bot"}}}],"connections":{"get_salary_data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"get_stock_data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Telegram Trigger":{"main":[[]]},"Shopify_customers":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0a3a4bde-5409-4b99-8eb4-1733a88e5a17","triggerCount":0,"shared":[{"createdAt":"2025-09-11T06:34:28.874Z","updatedAt":"2025-09-11T06:34:28.874Z","role":"workflow:owner","workflowId":"RCTWJHIwhw9q3tby","projectId":"axz66e0ZQtulOdRH"}],"tags":[]}