scrape_linkedin-S3NG5TLTBu9nEQTX.json
{"createdAt":"2025-09-19T07:22:55.203Z","updatedAt":"2025-09-20T05:31:20.000Z","id":"S3NG5TLTBu9nEQTX","name":"Scrape_linkedin","active":false,"isArchived":false,"nodes":[{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-592,-16],"id":"6ff04863-a508-4db1-9d46-c0eebe567c1e","name":"When chat message received","webhookId":"bfce22d6-0357-41c6-808b-8bb2e83b96b0"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"={{ $json.chatInput }}"},{"content":"=role:\n1.  **Identify** the job title, industry (if mentioned), and location from the user's input.\n2.  **Format** the search term as: `title+industry+location`.\n3.  If the industry is missing, exclude it from the output.\n4.  **Convert** plural job titles to singular (e.g., \"CEOs\" -\\> \"CEO\").\n5.  **Replace** spaces with `+` for proper search formatting.\n6.  **Extract** the number of leads the user wants. If a specific number is mentioned, use that. If not specified, default **leadCount** to 50.\n7.  **Return** the output in **JSON** format as:\n    ```json\n    {\n    \"searchTerm\": \"formatted_search_term\",\n    \"leadCount\": number_of_leads\n    }\n    ```\n\n**Rules:**\n\n  * Preserve the order: `title -> industry (if available) -> location`.\n  * Ensure the format is singular and uses `+` instead of spaces.\n  * If no industry is provided, exclude it from the search term.\n  * Always return a valid JSON response.\n\n**Example:**\n\n  * **Input:** `Scrape odoo developer in jakarta, working in technology.`\n  * **Expected Output:**\n    ```json\n    {\n    \"searchTerm\": \"developer+odoo+jakarta\",\n    \"leadCount\": 50\n    }\n    ```\n\nI will follow these instructions precisely for any user input I receive. The final response will be a JSON object containing the formatted search term and the lead count.\n\nUser input is missing. I will wait for user input to process.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-352,-16],"id":"60af81e7-cbb1-4807-91d8-d6459dd8beb1","name":"Message a model","credentials":{"openAiApi":{"id":"rONir6qegarGHaJR","name":"aris07"}}},{"parameters":{"jsCode":"let start = 0; // Initial page\nconst limit = $input.first().json.message.content.leadCount; // Limit to fetch 500 profiles (adjust as needed)\nconst batchSize = 50; // Google Search returns 100 results per page\nconst output = [];\n\n// Loop through pages by increments of 100\nwhile (start < limit) {\n  output.push({\n    json: {\n      start: start\n    }\n  });\n  start += batchSize; // Increment by 100 for each page\n}\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-16],"id":"1b5cfa2a-346f-43cd-8135-75baa16e28f6","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[208,-16],"id":"54b4d4ea-4b27-4d54-ac02-1bef7b087afa","name":"Loop Over Items"},{"parameters":{"url":"=https://www.googleapis.com/customsearch/v1","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyB7-u5rF1PYmbW0u_iaQ5hOwMnXfqgR6W0"},{"name":"cx","value":"40f4026a574014da2"},{"name":"q","value":"=http://id.linkedin.com/+{{ $('Message a model').item.json.message.content.searchTerm }}"},{"name":"num","value":"=10"},{"name":"start","value":"={{ $('Code in JavaScript').item.json.start }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":" Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0],"id":"71afceee-343a-4ea3-b58d-e598613dcfa7","name":"HTTP Request"},{"parameters":{"jsCode":"// Get the items array from the response\nconst items = $json[\"items\"]; // Access the items array directly from the response\n\n// Create an empty array to store the extracted URLs\nconst output = [];\n\nif (items && items.length > 0) {\n  // Loop over each item in the array and extract the 'link'\n  for (const item of items) {\n    if (item.link) {\n      // Push each extracted URL as a separate item in the output\n      output.push({\n        json: {\n          url: item.link,\n        },\n      });\n    }\n  }\n}\n\nreturn output; // Return the array of URL items"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,0],"id":"10b3c438-f638-4ca8-8dfc-8fdb08d5b580","name":"Code in JavaScript1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1i-lGUDL6hp-PS0QEPJE_h2agqcypl0JM5HduxYqWxWM/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1i-lGUDL6hp-PS0QEPJE_h2agqcypl0JM5HduxYqWxWM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Account":"={{ $json.url }}"},"matchingColumns":["Account"],"schema":[{"id":"Account","displayName":"Account","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1072,0],"id":"e5c4579f-211e-4037-9781-f7c325c81231","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9EAFs86VqQpoMPD2","name":"Google Sheets account clavis 9"}}}],"connections":{"When chat message received":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3c636f73-6c19-42be-ac5e-bb2addc47734","triggerCount":0,"shared":[{"createdAt":"2025-09-19T07:22:55.218Z","updatedAt":"2025-09-19T07:22:55.218Z","role":"workflow:owner","workflowId":"S3NG5TLTBu9nEQTX","projectId":"axz66e0ZQtulOdRH"}],"tags":[]}