scrape-linkedin-9Rf7NPnjQnGxl5mw.json
{"createdAt":"2025-09-20T05:35:09.198Z","updatedAt":"2025-09-20T09:10:03.000Z","id":"9Rf7NPnjQnGxl5mw","name":"Scrape Linkedin","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-720,-16],"id":"f1fe0537-8c61-4e51-a9d9-66933566fbd9","name":"When chat message received","webhookId":"7bdd8733-faf4-4f28-9e03-6458cc8dcb85"},{"parameters":{"assignments":{"assignments":[{"id":"398e6485-b488-47ad-a3ae-460bda02642d","name":"CurrentStartIndex","value":"1","type":"string"},{"id":"1a2f90bc-00a3-4736-919b-77341e2b0bdd","name":"MaxPages","value":"50","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,-16],"id":"daa2bdc3-b490-4d2c-a8d9-3202428997bb","name":"Edit Fields"},{"parameters":{"url":"https://www.googleapis.com/customsearch/v1","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyB7-u5rF1PYmbW0u_iaQ5hOwMnXfqgR6W0"},{"name":"cx","value":"40f4026a574014da2"},{"name":"q","value":"=http://id.linkedin.com/{{ $('When chat message received').item.json.chatInput }}"},{"name":"Num","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":" Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-304,-16],"id":"07a35404-b836-4a5e-a6d8-0836bbb4dcf3","name":"HTTP Request"},{"parameters":{"jsCode":"// Get the response data\nconst response = $input.first().json;\nconst items = response.items || [];\n\n// Track pagination info\nlet nextStartIndex = 1;\nif (response.queries && response.queries.nextPage && response.queries.nextPage[0]) {\n  nextStartIndex = response.queries.nextPage[0].startIndex;\n} // <-- This closing brace was missing\n\n// Calculate if we should continue (Google only allows up to 100 results)\nconst hasMoreResults = nextStartIndex <= 100;\n\n// Process the items and include pagination info in each item\nconst results = items.map(item => { // <-- Opening brace for the function body\n  const titleParts = item.title.split(\"-\"); // <-- Missing a closing parenthesis here\n  return {\n    name: titleParts[0] || null,\n    title: titleParts.slice(1).join(\"-\") || null,\n    link: item.link || null,\n    snippet: item.snippet || null,\n    image: item.pagemap?.cse_thumbnail?.[0]?.src || null, // <-- Added a missing '?' for safer property access\n    // Add pagination info to each item\n    startIndex: nextStartIndex,\n    hasMoreResults: hasMoreResults\n  };\n});\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,-16],"id":"06ef4722-495c-4836-8a1c-68fb4511f04c","name":"Code in JavaScript"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[112,-16],"id":"596c163a-b764-4f98-b144-24ee2bdfa71e","name":"Wait","webhookId":"3182632a-249d-45b4-8f8b-dc4cdd86ae9b"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1i-lGUDL6hp-PS0QEPJE_h2agqcypl0JM5HduxYqWxWM","mode":"list","cachedResultName":"Linkedin","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1i-lGUDL6hp-PS0QEPJE_h2agqcypl0JM5HduxYqWxWM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1278281947,"mode":"list","cachedResultName":"Detail","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1i-lGUDL6hp-PS0QEPJE_h2agqcypl0JM5HduxYqWxWM/edit#gid=1278281947"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.name }}","title":"={{ $json.title }}","link":"={{ $json.link }}","Snippet":"={{ $json.snippet }}","Image":"={{ $json.image }}","Index":"={{ $json.startIndex }}","result":"={{ $json.hasMoreResults }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Snippet","displayName":"Snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Image","displayName":"Image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Index","displayName":"Index","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"result","displayName":"result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[320,-16],"id":"ab5a3546-90b9-4f61-b8a9-8ab4607f3ed0","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9EAFs86VqQpoMPD2","name":"Google Sheets account clavis 9"}}},{"parameters":{"jsCode":"// Get all input items\nconst inputItems = $input.all();\nconsole.log(\"Input items count:\", inputItems.length);\n\n// Extract pagination values with fallbacks\nlet nextStartIndex = 1;\nlet hasMoreResults = false;\n\n// Try different approaches to find the pagination info\nif (inputItems && inputItems.length > 0) {\n  const firstItem = inputItems[0];\n\n  // Check direct properties\n  if (firstItem.json) {\n    console.log(\"First item JSON:\", JSON.stringify(firstItem.json));\n\n    // Check for \"index\" property (instead of startIndex)\n    if (firstItem.json.index !== undefined) {\n      nextStartIndex = firstItem.json.index;\n      console.log(\"Found index:\", nextStartIndex);\n    }\n\n    // Check for \"results\" property (instead of hasMoreResults)\n    if (firstItem.json.results !== undefined) {\n      hasMoreResults = firstItem.json.results;\n    }\n  }\n}\n\n// ------------------------------------------------------------------\n// THIS IS THE MISSING PART THAT RESOLVES THE ERROR:\n// Return an array with a single object containing your pagination data.\n// This is what the platform expects as output.\n// ------------------------------------------------------------------\nreturn [{\n  json: {\n    nextStartIndex,\n    hasMoreResults\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,-16],"id":"98ee8776-c56a-4acd-a8b6-a5e9e1eea335","name":"Code in JavaScript1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[784,-16],"id":"d37c3adb-8152-4fd6-bbea-9668eed54179","name":"Loop Over Items"}],"connections":{"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[]]},"Loop Over Items":{"main":[[],[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"981ab661-0a1a-40f1-ac49-0989746853b3","triggerCount":0,"shared":[{"createdAt":"2025-09-20T05:35:09.231Z","updatedAt":"2025-09-20T05:35:09.231Z","role":"workflow:owner","workflowId":"9Rf7NPnjQnGxl5mw","projectId":"axz66e0ZQtulOdRH"}],"tags":[]}